<div id="container" class="textbox">

<div>
<h1>Hallo onderzoekers.</h1>
<h1>Als jullie mij een urinemonster geven,</h1>
<h1>kan ik het voor jullie onderzoeken</h1>
<h3>Druk op 'enter' om te beginnen</h3>
</div>

</div>