<div id="container" class="textbox" >

<h1 id="inputdescriber">Voeg de correcte gegevens toe</h1>
<div id="inputscreen">

  <form action="/action_page.php" style="text-align: left; font-size=1vw;">
    Naam patiënt:<br>
    <input type="text" name="patient-name" value="Monique Bakker">
    <br>
    Welke bacterie veroorzaakt de ziekte:<br>
    <input id="input-pathogen" type="text" name="pathogen">
    <br>
    Toegediende antibioticum:<br>
    <input id="input-antibiotic" type="text" name="antibiotic">
    <br><br>
    <!-- <input id="controleren" type="button" value="Controleren"> -->
  </form>

  <div id="videoholder">
      <video autoplay="true">
  	  <source src="{{ url_for('static', filename='media/bacteria.mp4') }}" type="video/mp4">
  	  Your browser does not support HTML5 video.
  	</video>
  </div>

</div>

</div>

<h3 id="undertext">Gebruik de pijltjes toetsen om te wisslen tussen de velden en druk op 'enter' om te controleren</h3>
