
<div id="container" class="textbox" style="background-color: var(--darkpink)">

<img src="{{ url_for('static', filename='media/img-contactpatient.png') }}" >

<div>
<h1>Belangrijke informatie bekend!</h1>
<h3>De volgende belangrijke informatie dient met de patiënt gedeeld te worden.</h3>
</div>

</div>

<h3 id="undertext">Druk op 'enter' om verder te gaan</h3>