
<div id="container" class="textbox">

<img src="{{ url_for('static', filename='media/img-alternatieven.png') }}" >

<div>
<h1>Onderzoek of er een ander antibioticum werkt</h1>
<h3>Er moet zo snel mogelijk worden getest of er nog werkende antibiotica zijn.</h3>
<h3>Verlies geen tijd en begin meteen aan het vervolgonderzoek.</h3>
</div>

</div>

<h3 id="undertext">Druk op 'enter' om verder te gaan</h3>