
<div id="container" class="textbox" style="background-color: var(--darkpink)">

<img src="{{ url_for('static', filename='media/img-isoleren.png') }}" style="width: 45vw; margin-top: 3em;" >

<div>
<h1>Bacterie is geïsoleerd</h1>
<h3>Voer een test uit om er achter te komen welke antibiotica nog werken op de bacteriën</h3>
<h3>van de patïent.  De bacteriën zijn al over de petrischalen verdeeld.</h3>
</div>

</div>

<h3 id="undertext">Druk op 'enter' om verder te gaan</h3>
