
<div id="container" class="textbox" >

<div>
  <h1>Selecteer een antibioticum voor de patiënt.</h1>
  <h2>Voer een test uit om er achter te komen welke antibiotica nog werken op de bacteriën van de patiënt.</h2>
</div>

<div style="width: 100%">
  <div class="antibioticas">
    <img id="antibiotic1" class="antibioticapicture" src="{{ url_for('static', filename='media/antibiotica1.png') }}" >
    <img id="antibiotic2" class="antibioticapicture" src="{{ url_for('static', filename='media/antibiotica2.png') }}" >
    <img id="antibiotic3" class="antibioticapicture" src="{{ url_for('static', filename='media/antibiotica3.png') }}" >
    <img id="antibiotic4" class="antibioticapicture" src="{{ url_for('static', filename='media/antibiotica4.png') }}" >
    <img id="antibiotic5" class="antibioticapicture" src="{{ url_for('static', filename='media/antibiotica5.png') }}" >
  </div>
  <div class="antibioticas" >
    <img id="antibiotic6" class="antibioticapicture" src="{{ url_for('static', filename='media/antibiotica6.png') }}" >
    <img id="antibiotic7" class="antibioticapicture" src="{{ url_for('static', filename='media/antibiotica7.png') }}" >
    <img id="antibiotic8" class="antibioticapicture" src="{{ url_for('static', filename='media/antibiotica8.png') }}" >
    <img id="antibiotic9" class="antibioticapicture" src="{{ url_for('static', filename='media/antibiotica9.png') }}" >
  </div>
</div>

<h3>Houd daarbij rekening met de bijwerkingen. Kies het antibioticum waarvan jullie denken dat het beste is.</h3>

</div>

<h3 id="undertext">Gebruik de pijltjes toetsen om te kiezen en druk op 'enter' om verder te gaan</h3>
