

:root {
  --dark-color: #01689b;
  --middle-color: #cce0f1;
  --light-color: #e5f0f9;
  --lightblue: rgb(147, 210, 245);
  --darkblue: rgb(8, 105, 176);
  --darkdarkblue: rgb(49, 39, 94);
  --selectedblue: rgb(8, 84, 144);
  --darkpink: #ab155c;
}

*{margin: 0;padding: 0;box-sizing: border-box}
body{
  background: var(--lightblue);
  font-family: 'heading';
  /*text-shadow: 2px 2px 3px var(--middle-color);*/
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 2.3em;
  /*text-shadow: 5px 5px 5px var(--middle-color);*/
  margin: 10px;
}

h2 {
  font-size: 1.6em;
  /*text-shadow: 5px 5px 5px var(--middle-color);*/
  margin: 5px;
}

h3 {
  font-size: 1em;
  font-family: 'heading';
  margin: 5px;
}

#undertext {
  position: absolute;
  width: 100%;
  top: 96%;
  color: var(--darkdarkblue);
  font-size: 1.7em;
}

img {
  max-height: 55vh;
  max-width: 90vw;
}

p {
  font-size: 1.5em;
}

#loadbar {
  margin: 10px;
  flex-direction: row;
  height: 30px;
  /*  margin: 15px;
  padding: 10px;*/
  border-radius: 20px;
  border: 2px solid white;
  /*box-shadow: inset 0 0 12px var(--middle-color), 0 0 12px var(--middle-color);*/
  display: flex;
  float:left;
  width: 1200px;
  overflow: hidden;
}

.antibioticas {
  width: 100%;
  flex-direction: row;
}

.antibioticapicture {
  width: 5em;
  margin-left: 1em;
  margin-right: 1em;
  padding: .1em;
}

#chosen_antibiotic {
  width: 13vw;
}

.selected {
  background-color: var(--selectedblue);
  border-radius: 9px;
}

#janee {
  width: 60%;
  display: flex;
  flex-direction: row;
  font-size: 2.5em;
  justify-content: space-around;
  font-family: 'serif-regular';
}

#ja, #nee {
  padding-left: 1em;
  padding-right: 1em;
}

.load-block{
  width: 40px;
  color: #eee;
  text-align: center;
  height: 30px;
  background-color: var(--darkpink);
  border-right: 1px solid white;
}

.textbox{
  padding: 2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 87vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-flow: column;
  color: white;
  justify-content: space-around;
  font-size: 2vw;
  background-color: var(--darkblue);
  border-radius: 15px;
  /*box-shadow: 5px 5px 70px var(--dark-color),  0 0 4px var(--middle-color);*/
}

.highlighted{
  box-shadow:
    inset 0 0 2vw var(--dark-color), 0 0 4px var(--dark-color)
}

.no-opacity{
  opacity: 0;
}

#inputscreen {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content:space-around;
}

#videoholder {
  display: inline-block;
  flex-direction: column;
  justify-content: center
}

video {
  width: 65vw;
  border: 10px solid var(--middle-color);
  /*box-shadow: 8px 8px 8px var(--middle-color), 0 0 4px var(--middle-color);*/
}

#samples
{
  width: 65vw;
}

#videocaption {
  text-align: right;
  font-weight: bold;
}

form{
  /*padding: 10px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: right;
  /*box-shadow: 8px 8px 8px var(--middle-color), 0 0 4px var(--middle-color);*/
  font-family: 'serif-italic';
  font-size: .8em;
}

input{
  margin-top: .75vh;
  /*margin-bottom: .75vh;*/
  width: 20vw;
  height: 4vh;
  padding: 0 10px;
  background-color: white;
  color: var(--dark-color);
  font-size: .8em;
  border-radius: 20px;
}

#controleren {
  background-color: var(--darkpink);
  color: white;
  width: 15vw;
  height: 6vh;
  border-radius: 10px;
}

input:focus
{

}

.cal-details{
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 12px #0cc, 0 0 12px #0cc;
}

// @import url(https://fonts.googleapis.com/css?family=Rajdhani:500,100,400);
