<html>
<head>
<link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<style>
@font-face {
    font-family: 'heading';
    src: url("{{ url_for('static', filename='fonts/rijksoverheidsansheading-bold.woff') }}");
}
@font-face {
    font-family: 'sanstext-regular';
    src: url("{{ url_for('static', filename='fonts/rijksoverheidsanstext-regular.woff') }}");
}
@font-face {
    font-family: 'serif-italic';
    src: url("{{ url_for('static', filename='fonts/rijksoverheidserif-italic.woff') }}");
}
@font-face {
    font-family: 'serif-regular';
    src: url("{{ url_for('static', filename='fonts/rijksoverheidserif-regular.woff') }}");
}
</style>
</head>
<body>
<div id="container" class="textbox">

</div>
<canvas id="c"></canvas>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io-1.7.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main_OO.js') }}"></script>
</body>
</html>
